:root {
    /* Twitter colors */
    --color-faint: #f5f8fa;
    --color-darkest-gray: #657786; /* font color for general stuff*/
    --twitter-blue: #1da1f2;
    --twitter-blue-darker: #1973aa;
    --twitter-black: #14171a;
    --color-deep-gray: #657786; /* deactivated things*/
    --color-dark-gray-blue: #192734; /* twitter almost navy blue*/

    --stroke-color: #d2d2dc;
    --fill-color: #f2f3f5;

    --stroke-active: #A1B1D9;
    --fill-active: #7285C7;

    --pill-final: #87B1AD;
}


/* CSS of Tags */
body {
    color: var(--color-darkest-gray);
    font-family: Roboto, sans-serif;
}


h1, h2, h3, h4, h5, h6 {
    color: var(--twitter-black);


}

a {
    color: var(--twitter-blue);
}

a:hover {
    color: var(--twitter-blue-darker);
}

section {
    /*height: 100vh;*/
    flex-shrink: 0;
    padding: 30px 0;
}

hr {
    color: var(--color-deep-gray);
}

.btn, input {
    font-family: inherit;
}

/* CSS of classes */
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.nav-link.active {
    color: rgba(255, 255, 255, .75);
}

.card-automato {
    width: 100%;
    height: 300px;
    /*background-color: var(--color-faint);*/
    /*border-radius: .25rem;*/
    /*box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);*/
    /*transition: all 0.3s cubic-bezier(.25, .8, .25, 1);*/
    /*border: none;*/
    /*margin: 10px;*/
}

.card-body {
    text-align: center;
}

h5.card-title {
    text-align: left !important;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: var(--twitter-blue-darker);
    background-color: var(--color-faint);
}

.my-tabs a.nav-link {
    color: var(--twitter-blue-darker);
}

pre, .output-area {
    background-color: var(--color-faint);
    border: 1px solid var(--stroke-color);
    border-radius: .25rem;
    height: 100px;
    margin-left: 10px;
    margin-right: 10px;
    overflow: hidden;
}

.out-text-area {
    height: 100px;
    padding: 10px;
    overflow: auto;
}

.output-item{
    margin: 5px 0;
}

.output-icon {
    width: 25px;
    display: inline-block;
    margin-left: 5px;
    padding-bottom: 7px;
}

.entrada-out, .description {
    margin: 0;
    display: inline-block;
    min-width: 150px;
}

.afd-item {
    margin: 8px 0;
}
.afd-trans .output-area {
    margin-left: 0;
    margin-right: 0;
    max-height: 400px;
    height: auto;
    /*width: 200px;*/
    text-align: center;

}

.afd-trans.output-area {
    max-width: 250px;
}

.afd-trans .output-area .out-text-area {
    max-height: 400px;
    height: auto;
}

.afd-pill {
    text-align: center;
    padding: 8px 8px;
    width: 71px;
}

.afd-pill-t {
    background-color: var(--fill-active) !important;
}

.afd-pill-f {
    background-color: var(--pill-final) !important;
}

.afd-pill-nf {
    background-color: #519B97 !important;
}

.afd-pill-i {
    background-color: lightcoral !important;
}

.afd-pill-next {
    background-color: var(--stroke-active) !important;
}
/*.card-automato:hover {*/
/*    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);*/
/*}*/

/*.card-automato:focus-visible {*/
/*    border: 1px solid var(--twitter-blue-darker);*/
/*    outline: none;*/
/*}*/

/* Include Bootstrap breakpoints */

/* X-Small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
    .my-tabs {
        flex-direction: column;
        align-items: center !important;
    }

    #v-pills-tab {
        flex-direction: row !important;
    }

    .col-lg-6 {
        margin-top: 16px;
    }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {

}

/*Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {

}

/*Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {

}

/*X-Large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {

}


@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }

}

@media (min-width: 576px) {
    .output-col {
        margin-top: 16px;
    }
}

@media (min-width: 991.98px) {
    .output-col {
        margin-top: 0;
    }
}



